// ---------------
//   Containers
// ---------------

.al-container, .al-container-voidless, .al-container-xxl, .al-container-xl, .al-container-lg, .al-container-md, .al-container-mdsm, .al-container-sm, .al-container-xsm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: $breakpoint-xsm) { .al-container-xsm { max-width: 375px; } }
@media (min-width: $breakpoint-sm) { .al-container-sm, .al-container-xsm, .al-container { max-width: 534px; } }
@media (min-width: $breakpoint-mdsm) { .al-container-mdsm { max-width: 656px; } }
@media (min-width: $breakpoint-md) { .al-container-md, .al-container-sm, .al-container-xsm, .al-container { max-width: 722px; } }
@media (min-width: $breakpoint-lg) { section, main, content, .al-container-lg, .al-container-md, .al-container-sm, .al-container-xsm, .al-container { max-width: 958px; } }
@media (min-width: $breakpoint-xl) { section, main, content, .al-container-xl, .al-container-lg, .al-container-md, .al-container-sm, .al-container-xsm, .al-container { max-width: 1140px; } }
@media (min-width: $breakpoint-xxl) { section, main, content, .al-container-xxl, .al-container-lg, .al-container-md, .al-container-sm, .al-container-xsm, .al-container { max-width: 1320px; } }
@media (min-width: $breakpoint-xxxl) { section, main, content, .al-container-xxl, .al-container-lg, .al-container-md, .al-container-sm, .al-container-xsm, .al-container { max-width: auto; } }
