// ---------------
//   App Widgets
// ---------------
@mixin alert($colour) {
    padding: 1rem;
    background-color: $colour;
    border-radius: $br-1;
    margin: .5rem 0;
}

.al-alert { @include alert(var(--theme-secondary)); }
.al-alert-primary { @include alert(var(--theme-primary)); }
.al-alert-secondary { @include alert(var(--theme-secondary)); }

.al-alert-negitive { @include alert(var(--theme-text-negitive)); }
.al-alert-positive { @include alert(var(--theme-text-positive)); }