// ---------------
//   App Widgets
// ---------------
.al-colourBar {
    content: "";
    height: 3px;
    width: 100% ;
    background: var(--al-current);
}

.al-appIcon {
    position: relative;
    top: 0.2rem;
    left: 0.5rem;

    max-height: 3.5rem;
    border-radius: 1rem;
}
@media screen and (max-width: $breakpoint-md) { .al-appIcon { display: none; } }