// ---------------
//   List Groups
// ---------------
// 
// Usage:
// 
// <div class="al-list-group">
//     <div class="al-list-group-item">One</div>
//     <div class="al-list-group-item">Two</div>
//     <div class="al-list-group-item">Three</div>
// </div>
// ---------------
.al-list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}
.al-list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: var(--theme-background-primary);
    border: 1px solid rgba(255, 255, 255, .25);
}
.al-list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.al-list-group-item + .al-list-group-item {
    border-top-width: 0;
}
.al-list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}