// ---------------
//   Modals
// ---------------
.al-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: none;

    z-index: 101;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback */
    background-color: rgba(0,0,0,0.8);

    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}
.al-modal.al-clean { background-color: rgba(0,0,0,0); }

.al-modal.al-clean .al-modal-content { background-color: var(--theme-background-tertiary); }
.al-modal-content {
    position: fixed;
    top: 10%;
    left: 20%;
    margin-right: 20%;

    background-color: var(--theme-background-tertiary);
    color: var(--theme-text-normal);
    border: 3px solid var(--theme-border);
    border-radius: 8px;


    width: 60%;
    padding: 8px 16px;
}
.al-modal-content.al-large {
    width: 80%;
    left: 10%;
    top: 5%;
    margin-right: 10%;
    max-height: 90%;
}
.al-modal-content .al-close { float: right; font-size: 28px; font-weight: bold; }
.al-modal-content .al-close:hover, .al-modal-content .al-close:focus {
    color: var(--theme-text-negitive);
    text-decoration: none;
    cursor: pointer;
}
/* Image source in popup modal - make sure image does not fall out of modal */
#modalDisplay {
    max-height: 80vh;
}

@media screen and (max-width: $breakpoint-sm) {
    .al-mobile-modal-container {
        position: relative;
        top: 0;
        left: 0;
        /* Inverted values due to container being flipped */
        width: 100vh;
        height: 100vw;

        /* Rotate 90deg while taking up all space still */
        transform: rotate(90deg) translateY(-100%);
        transform-origin: top left;
    }
    .al-mobile-modal-container.al-verticle {
        /* If verticle mode, do not flip and take up all space (without inverted values) */
        width: 100%;
        height: 100%;
        transform: rotate(0) translateY(0);
    }
    /* Image source in popup modal - make sure image does not fall out of modal */
    #modalDisplay {
        width: 85%;
    }
}