// ---------------
//   Navbars
// ---------------
.al-nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: opacity .15s ease-in-out;
    border-radius: 0.4rem;
    border-bottom: 3px solid transparent;
    margin-top: 2px;
    margin-bottom: 2px;
}
.al-nav-link:hover {
    border-bottom: 3px solid var(--al-current);
    margin-top: 3px;
    margin-bottom: 1px;
}

// TODO: ADD PRESENTATIONWEB'S SIDEBAR NAV