// ---------------
//   Panels
// ---------------
/* Tabs */
.al-panel-menu {
    --al-panel-bg: var(--theme-background-primary);
    --al-panel-bg-alt: var(--theme-background-tertiary);
    --al-panel-highlight: var(--theme-primary);
    --al-panel-highlight-light: var(--theme-secondary);
}

/* Tabs menu */
.al-panel-menu .al-tabs {
    margin-bottom: 5px;
    border-bottom: 3px solid var(--al-panel-highlight);
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    display: flex;
    /* box-shadow: var(--al-bxs-1); */
}

/* Phone mode */
@media screen and (max-width: $breakpoint-md) {
    /* Remove the purple bottom border */
    .al-panel-menu .al-tabs { border-bottom: 3px solid transparent; }
    .al-panel-menu .al-tabs li.active {
        /* Making the effect of the tabs container border being not broken */
        border-bottom: 3px solid var(--al-panel-highlight) !important;
        background-color: var(--al-panel-bg-alt);
        opacity: 0.8;
    }
    /* Making tabs look rounded */
    .al-panel-menu .al-tabs li { border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem; }
}

.al-panel-menu .al-tabs li.active  {
    /* Making the effect of the tabs container border being broken */
    border-bottom: 4px solid var(--al-panel-bg);
}

.al-panel-menu .al-tabs li {
    position: relative;
    padding: 11px;
    margin-top: 0.5rem;
    border: 3px solid var(--al-panel-highlight);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: -0.25rem;
    border-bottom-right-radius: -0.25rem;
    z-index: 2;
    transform: translateY(3px);
}

/* Hover highlight colour + making the effect of hte tabs container border not being broken */
.al-panel-menu .al-tabs li:hover {
    border-color: var(--al-panel-highlight-light);
    opacity: 0.8;
    border-bottom-color: var(--al-panel-highlight);
    cursor: pointer;
}
/* Overriding hover effect for active tab */
.al-panel-menu .al-tabs li.active:hover {
    opacity: 1;
    border-color: var(--al-panel-highlight);
    border-bottom-color: var(--al-panel-bg);
}

/* Panels */
.al-panel-menu .al-panel { display: none; border-top-left-radius: 0; }

/* Show panel if active */
.al-panel-menu .al-panel.active { display: block; }