// ---------------
//   ToolTips
// ---------------
// 
// Usage:
// 
// <div class="al-tooltip">
//     <button class="btn btn-primary">This is a Gift.</button>
//     <span class="al-tooltip-text">Gift your friends amazing features!</span>
// </div>
// ---------------
.al-tooltip {
    position: relative;
    display: inline-block;
}
.al-tooltip-block {
    position: relative;
    display: block;
}
.al-tooltip .al-tooltip-text, .al-tooltip-block .al-tooltip-text {
    visibility: hidden;
    /* max-width: 120px; */
    background-color: var(--theme-background-tertiary);
    color: var(--theme-text-normal);
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 8px 15px rgb(0, 0, 0, 0.2);
    padding: 5px 2px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}
.al-tooltip:hover .al-tooltip-text, .al-tooltip:focus .al-tooltip-text,
.al-tooltip-block:hover .al-tooltip-text, .al-tooltip-block:focus .al-tooltip-text {
    visibility: visible;
}

/* Tooltip arrow */
.al-tooltip .al-tooltip-text::after, .al-tooltip-block .al-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--theme-background-tertiary) transparent transparent transparent;
}