// ---------------
//   Core
// ---------------
body {
    margin: 0;
    font-family: var(--al-font-2);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 1);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    scroll-behavior: smooth;
    background: var(--theme-background-primary);
    color: var(--theme-text-normal);
}

.mobile-app {
    font-size: 0.8rem;
    -webkit-touch-callout: none;	/* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;	/* prevent webkit from resizing text to fit */
    -webkit-user-select: none;		/* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);   
}

@media (prefers-reduced-motion: reduce) {* { transition: none; }}

::selection { color: var(--al-white); background: var(--al-light-blue); }
/* Code for Firefox */
::-moz-selection { color: var(--al-white); background: var(--al-light-blue); }



// For Firefox
:root { scrollbar-color: var(--al-super-light-black) var(--al-light-black); }

// For other browsers
::-webkit-scrollbar { width: 0.8rem; height: 0.8rem; }

/* Track & Corner */
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: var(--al-super-light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb { background: var(--al-dark-gray); border-radius: 5px; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: var(--al-super-light-black); }