// ---------------
//   Glass Effects
// ---------------
.al-glass {
    /* background: var(--al-black-3); */
    backdrop-filter: blur(2rem);
}
.al-circle.al-clean { background: var(--theme-bg-accent); }
.al-circle {
    background: var(--theme-bg-floating);
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
.al-circle-1 { top: 5%; right: 15%; }
.al-circle-2 { bottom: 5%; left: 10%; }