// ---------------
//   Properties
// ---------------
.al-bxs-1 { box-shadow: $bxs-1; }
.al-bxs-2 { box-shadow: $bxs-2; }

.al-br-1 { border-radius: 1rem; }
.al-br-15 { border-radius: 1.5rem; }
.al-br-2 { border-radius: 2rem; }
.al-br-25 { border-radius: 2.5rem; }
.al-br-3 { border-radius: 3rem; }
.al-br-50 { border-radius: 50%; }

.al-opacity-1, .al-opacity-100 { opacity: 1; }
.al-opacity-75 { opacity: 0.75; }
.al-opacity-50 { opacity: 0.5; }
.al-opacity-25 { opacity: 0.25; }
.al-opacity-0 { opacity: 0; }

.al-overflow-hidden { overflow: hidden; }

.al-p-relative { position: relative; }
.al-p-absolute { position: absolute; }

.al-purple-hover { transition: all 0.5s ease-in-out; border: 2px solid transparent; }
.al-purple-hover:hover { border: 2px solid var(--theme-header-primary); }

/* Fixing floats */
.al-clearfix {
    overflow: auto;
}
.al-clearfix-2::after {
    content: "";
    clear: both;
    display: table;
}