// ---------------
//   Colour Mixer
// ---------------
@each $colour in $colours {
    // Background Colours
    .al-bg-#{nth($colour, 1)} { background: nth($colour, 2) !important; }
    // Text Colours
    .al-#{nth($colour, 1)} { color:nth($colour, 2) !important; }
    // Links
    .al-link.al-#{nth($colour, 1)}:hover { color:nth($colour, 2); opacity: 0.8; }
    // Hover Colours
    .al-hover-#{nth($colour, 1)}:hover { color:nth($colour, 2); }
}