// ---------------
//   Themes
// ---------------
body {
    --theme-header-primary: var(--al-dark-blue);
    --theme-header-primary-alt: var(--al-blue);
    --theme-header-secondary: var(--al-turquoise);
    --theme-text-em: #000;
    --theme-text-normal: #333;
    --theme-text-muted: var(--al-gray);
    --theme-text-link: var(--al-light-blue);
    --theme-text-positive: #00e034;
    --theme-text-negitive: #fa4e4e;
    --theme-bg-primary: #ffffff;
    --theme-bg-secondary: var(--al-super-light-gray);
    --theme-bg-secondary-alt: #dde4e9;
    --theme-bg-tertiary: var(--al-light-gray);
    --theme-bg-floating: #ffffff;
    --theme-bg-accent: var(--al-light-black);
    --theme-border: var(--al-gray);
    --theme-interactive-normal: #444;
    --theme-interactive-active: #333;
    --theme-interactive-muted: var(--theme-text-muted);
}
.theme-dark {
    --theme-header-primary: var(--al-blue);
    --theme-header-primary-alt: var(--al-light-blue);
    --theme-header-secondary: var(--al-turquoise);
    --theme-text-em: #fff;
    --theme-text-normal: var(--al-super-light-gray);
    --theme-text-muted: var(--al-gray);
    --theme-text-link: var(--al-light-blue);
    --theme-text-positive: #00e034;
    --theme-text-negitive: #fa4e4e;
    --theme-bg-primary: var(--al-medium-black);
    --theme-bg-secondary: #2f2d2d;
    --theme-bg-secondary-alt: #363232;
    --theme-bg-tertiary: var(--al-dark-black);
    --theme-bg-floating: var(--al-light-black);
    --theme-bg-accent: var(--al-super-light-gray);
    --theme-border: var(--al-dark-gray);
    --theme-interactive-normal: #000;
    --theme-interactive-active: #000;
    --theme-interactive-muted: #000;
    --theme-interactive-normal: #cccccc;
    --theme-interactive-active: var(--al-super-light-gray);
    --theme-interactive-muted: var(--theme-text-muted);
}
.theme-snow {
    --theme-header-primary: var(--al-dark-blue);
    --theme-header-primary-alt: var(--al-blue);
    --theme-header-secondary: var(--al-turquoise);
    --theme-text-em: #000;
    --theme-text-normal: #333;
    --theme-text-muted: var(--al-gray);
    --theme-text-link: var(--al-light-blue);
    --theme-text-positive: #00e034;
    --theme-text-negitive: #fa4e4e;
    --theme-bg-primary: #ffffff;
    --theme-bg-secondary: var(--al-super-light-gray);
    --theme-bg-secondary-alt: #dde4e9;
    --theme-bg-tertiary: var(--al-light-gray);
    --theme-bg-floating: #ffffff;
    --theme-bg-accent: var(--al-light-black);
    --theme-border: var(--al-gray);
    --theme-interactive-normal: #444;
    --theme-interactive-active: #333;
    --theme-interactive-muted: var(--theme-text-muted);
}