// ---------------
//   Variables
// ---------------

// CSS Variables
$colours:
    "white" #ffffff,
    "super-light-gray" #f1f1f1,
    "light-gray" #e8eaed,
    "gray" #cccccc,
    "dark-gray" #999999, // 888
    "super-dark-gray" #707070,
    "super-light-black" #555555, // 555
    "light-black" #313131,
    "medium-black" #252525,
    "dark-black" #1c1a1a,
    "pure-black" #000000,
    "red" #dd2e2e,
    "orange" #fc7307,
    "gold" #ffa600,
    "yellow" #ffee00,
    "light-green" #00e0a7,
    "lime" #21fc0d,
    "dark-green" #35854b,
    "aqua" #19d1fa,
    "turquoise" #09eeb1,
    "dark-turquoise" #0c718a,
    "light-blue" #54bff8,
    "blue" #2b84e4,
    "dark-blue" #160cce,
    "violet" #8a0ef0,
    "purple" #a890ff,
    "light-pink" #f785ed,
    "pink" #ff08ea,
    "salmon" #fa4e89;


:root {
    --al-font-1: 'Ubuntu', sans-serif;
    --al-font-2: 'Noto Sans JP', sans-serif;
    --al-font-3: 'Work Sans', sans-serif;
    --al-font-4: 'Consolas', sans-serif;
    --al-font-mono: 'Roboto Mono', monospace;

    --al-current: var(--al-aqua);

    @each $colour in $colours {
        --al-#{nth($colour, 1)}: #{nth($colour, 2)};
    }
}

// Scss Variables
$unit: 1;

$br-05: 0.2rem;
$br-1: 0.4rem;
$br-2: 0.5rem;
$br-3: 0.8rem;
$bxs-1: 0 8px 15px rgb(0, 0, 0, 0.2);
$bxs-2: 0 8px 50px rgb(0, 0, 0, 0.2);

$breakpoint-xsm: 400px;
$breakpoint-sm: 570px;
$breakpoint-mdsm: 700px;
$breakpoint-md: 770px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 2000px;

$breakpoints:
    "xsm" 400px,
    "sm" 570px,
    "mdsm" 700px,
    "md" 770px,
    "lg" 990px,
    "xl" 1200px,
    "xxl" 1400px,
    "xxxl" 2000px;