// ---------------
//   Cards
// ---------------
.al-card {
    border: 2px solid var(--theme-border);
    padding: 0.5rem;
    @include br($br-1);
    margin: 0.5rem;
}
.al-card-title {
    margin-bottom: 0;
}