// ---------------
//   Input Floating Label
// ---------------
// 
// Usage:
// 
// <div class="al-floating">
//     <input class="al-clean" type="email" name="email" placeholder="">
//     <label for="email">Email</label>
// </div>
// ---------------
.al-floating {
    width: 100%;
    position: relative;

    // Base formatting
    label {
        font-size: 1.2rem;
        color: var(--theme-text-normal);
        position: absolute;
        left: 0.5rem;
        bottom: 1.25rem;
        transform-origin: 0%;
        transition: transform 400ms;
    }
    input {
        width: 100%;
        padding: 1rem 0.5rem 1.25rem;
    }

    // When the input is focused
    &:focus-within {
        // Translate the label
        // Also translate the label if there is text inside the input
        label, input:not(:placeholder-shown) + label {
            transform: scale(0.8) translateY(-1rem);
            color: var(--theme-text-muted);
        }
        // Change the padding on the input (top and bottom changing but keeping total)
        input {
            padding: 2rem 0.5rem 0.25rem;
        }
    }

    // If there is still text inside the input, translate the label
    input:not(:placeholder-shown) + label {
        transform: scale(0.8) translateY(-1rem);
        color: var(--theme-text-muted);
    }
    // And change the padding on the input (top and bottom changing but keeping total)
    input:not(:placeholder-shown) {
        padding: 2rem 0.5rem 0.25rem;
    }

}