// ---------------
//   Input Highlight
// ---------------
// 
// Usage:
// 
// <div class="al-highlight">
//     <input type="email" name="email" placeholder="">
// </div>
// ---------------
.al-highlight {
    // Input inside the container
    input, .input {
        border: none;
        border-bottom: 2px dashed var(--theme-text-muted);
        outline: none !important;
        width: 100%;

        &:hover, &:focus { outline: none !important; box-shadow: none !important; }
    }

    // Element next to input
    &::after {
        content: "";
        position: relative;
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--theme-header-primary-alt);
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 500ms ease;
    }
    // When the input is focused...
    &:focus-within {
        // Remove the dashed border on the input
        input, .input {
            border-color: transparent;
        }
        // And slide in the ::after element
        &::after {
            transform: scaleX(1);
        }
    }
}