// ---------------
//   Snackbars
// ---------------
.al-snackbar {
	/* background-color: #3b3737; */
    background-color: var(--theme-bg-floating);
	color: var(--theme-text-normal);
	text-align: center;

	visibility: hidden;
	border-radius: 8px;

    box-shadow: $bxs-1;

	padding: 16px;
	margin-left: -141px; /* Divide value of width by 2 and the padding to center */
	width: 250px;

	position: fixed;
	left: 50%;
	bottom: 30px;
	z-index: 100;
}
.al-snackbar.al-left {
	margin-left: 0;
    left: 30px;
	bottom: 30px;
}
@media screen and (max-width: $breakpoint-sm) {
    .al-snackbar.al-left {
    	margin-left: -141px; /* Divide value of width by 2 and the padding to center */
        left: 50%;
    	bottom: 30px;
    }   
}
.al-snackbar.al-active {
	visibility: visible;
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 7.5s;
	animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 7.5s;
}