// ---------------
//   TreeViews
// ---------------
ul.al-clean, ol.al-clean {
	list-style-type: none;
}
.al-caret {
	cursor: pointer;
	user-select: none;
}
.al-caret::before {
	content: "\25B6";
	display: inline-block;
	margin-right: 6px;
}
.al-caret.al-active::before {
	transform: rotate(90deg);
}
.al-nested { display: none; }
.al-nested.al-active { display: block; }