// ---------------
//   Displays
// ---------------
.al-d-block { display: block !important; }
.al-d-flex { display: flex !important; }
.al-d-flexbox { display: flexbox !important; }
.al-d-grid { display: grid !important; }
.al-d-inline { display: inline !important; }
.al-d-inline-block { display: inline-block !important; }
.al-d-inline-flex { display: inline-flex !important; }
.al-d-inline-flexbox { display: inline-flexbox !important; }
.al-d-inline-table { display: inline-table !important; }
.al-d-none { display: none !important; }
.al-d-list-item { display: list-item !important; }
.al-d-table { display: table !important; }
.al-d-inherit { display: inherit !important; }
.al-d-initial { display: initial !important; }
.al-d-unset { display: unset !important; }

@media (min-width: $breakpoint-xsm) {
    .al-d-xsm-block { display: block !important; }
    .al-d-xsm-flex { display: flex !important; }
    .al-d-xsm-flexbox { display: flexbox !important; }
    .al-d-xsm-grid { display: grid !important; }
    .al-d-xsm-inline { display: inline !important; }
    .al-d-xsm-inline-block { display: inline-block !important; }
    .al-d-xsm-inline-flex { display: inline-flex !important; }
    .al-d-xsm-inline-flexbox { display: inline-flexbox !important; }
    .al-d-xsm-inline-table { display: inline-table !important; }
    .al-d-xsm-none { display: none !important; }
    .al-d-xsm-list-item { display: list-item !important; }
    .al-d-xsm-table { display: table !important; }
    .al-d-xsm-inherit { display: inherit !important; }
    .al-d-xsm-initial { display: initial !important; }
    .al-d-xsm-unset { display: unset !important; }
}
@media (min-width: $breakpoint-sm) {
    .al-d-sm-block { display: block !important; }
    .al-d-sm-flex { display: flex !important; }
    .al-d-sm-flexbox { display: flexbox !important; }
    .al-d-sm-grid { display: grid !important; }
    .al-d-sm-inline { display: inline !important; }
    .al-d-sm-inline-block { display: inline-block !important; }
    .al-d-sm-inline-flex { display: inline-flex !important; }
    .al-d-sm-inline-flexbox { display: inline-flexbox !important; }
    .al-d-sm-inline-table { display: inline-table !important; }
    .al-d-sm-none { display: none !important; }
    .al-d-sm-list-item { display: list-item !important; }
    .al-d-sm-table { display: table !important; }
    .al-d-sm-inherit { display: inherit !important; }
    .al-d-sm-initial { display: initial !important; }
    .al-d-sm-unset { display: unset !important; }
}
@media (min-width: $breakpoint-mdsm) {
    .al-d-mdsm-block { display: block !important; }
    .al-d-mdsm-flex { display: flex !important; }
    .al-d-mdsm-flexbox { display: flexbox !important; }
    .al-d-mdsm-grid { display: grid !important; }
    .al-d-mdsm-inline { display: inline !important; }
    .al-d-mdsm-inline-block { display: inline-block !important; }
    .al-d-mdsm-inline-flex { display: inline-flex !important; }
    .al-d-mdsm-inline-flexbox { display: inline-flexbox !important; }
    .al-d-mdsm-inline-table { display: inline-table !important; }
    .al-d-mdsm-none { display: none !important; }
    .al-d-mdsm-list-item { display: list-item !important; }
    .al-d-mdsm-table { display: table !important; }
    .al-d-mdsm-inherit { display: inherit !important; }
    .al-d-mdsm-initial { display: initial !important; }
    .al-d-mdsm-unset { display: unset !important; }
}
@media (min-width: $breakpoint-md) {
    .al-d-md-block { display: block !important; }
    .al-d-md-flex { display: flex !important; }
    .al-d-md-flexbox { display: flexbox !important; }
    .al-d-md-grid { display: grid !important; }
    .al-d-md-inline { display: inline !important; }
    .al-d-md-inline-block { display: inline-block !important; }
    .al-d-md-inline-flex { display: inline-flex !important; }
    .al-d-md-inline-flexbox { display: inline-flexbox !important; }
    .al-d-md-inline-table { display: inline-table !important; }
    .al-d-md-none { display: none !important; }
    .al-d-md-list-item { display: list-item !important; }
    .al-d-md-table { display: table !important; }
    .al-d-md-inherit { display: inherit !important; }
    .al-d-md-initial { display: initial !important; }
    .al-d-md-unset { display: unset !important; }
}
@media (min-width: $breakpoint-lg) {
    .al-d-lg-block { display: block !important; }
    .al-d-lg-flex { display: flex !important; }
    .al-d-lg-flexbox { display: flexbox !important; }
    .al-d-lg-grid { display: grid !important; }
    .al-d-lg-inline { display: inline !important; }
    .al-d-lg-inline-block { display: inline-block !important; }
    .al-d-lg-inline-flex { display: inline-flex !important; }
    .al-d-lg-inline-flexbox { display: inline-flexbox !important; }
    .al-d-lg-inline-table { display: inline-table !important; }
    .al-d-lg-none { display: none !important; }
    .al-d-lg-list-item { display: list-item !important; }
    .al-d-lg-table { display: table !important; }
    .al-d-lg-inherit { display: inherit !important; }
    .al-d-lg-initial { display: initial !important; }
    .al-d-lg-unset { display: unset !important; }
}
@media (min-width: $breakpoint-xl) {
    .al-d-xl-block { display: block !important; }
    .al-d-xl-flex { display: flex !important; }
    .al-d-xl-flexbox { display: flexbox !important; }
    .al-d-xl-grid { display: grid !important; }
    .al-d-xl-inline { display: inline !important; }
    .al-d-xl-inline-block { display: inline-block !important; }
    .al-d-xl-inline-flex { display: inline-flex !important; }
    .al-d-xl-inline-flexbox { display: inline-flexbox !important; }
    .al-d-xl-inline-table { display: inline-table !important; }
    .al-d-xl-none { display: none !important; }
    .al-d-xl-list-item { display: list-item !important; }
    .al-d-xl-table { display: table !important; }
    .al-d-xl-inherit { display: inherit !important; }
    .al-d-xl-initial { display: initial !important; }
    .al-d-xl-unset { display: unset !important; }
}
@media (min-width: $breakpoint-xxl) {
    .al-d-xxl-block { display: block !important; }
    .al-d-xxl-flex { display: flex !important; }
    .al-d-xxl-flexbox { display: flexbox !important; }
    .al-d-xxl-grid { display: grid !important; }
    .al-d-xxl-inline { display: inline !important; }
    .al-d-xxl-inline-block { display: inline-block !important; }
    .al-d-xxl-inline-flex { display: inline-flex !important; }
    .al-d-xxl-inline-flexbox { display: inline-flexbox !important; }
    .al-d-xxl-inline-table { display: inline-table !important; }
    .al-d-xxl-none { display: none !important; }
    .al-d-xxl-list-item { display: list-item !important; }
    .al-d-xxl-table { display: table !important; }
    .al-d-xxl-inherit { display: inherit !important; }
    .al-d-xxl-initial { display: initial !important; }
    .al-d-xxl-unset { display: unset !important; }
}
@media (min-width: $breakpoint-xxxl) {
    .al-d-xxxl-block { display: block !important; }
    .al-d-xxxl-flex { display: flex !important; }
    .al-d-xxxl-flexbox { display: flexbox !important; }
    .al-d-xxxl-grid { display: grid !important; }
    .al-d-xxxl-inline { display: inline !important; }
    .al-d-xxxl-inline-block { display: inline-block !important; }
    .al-d-xxxl-inline-flex { display: inline-flex !important; }
    .al-d-xxxl-inline-flexbox { display: inline-flexbox !important; }
    .al-d-xxxl-inline-table { display: inline-table !important; }
    .al-d-xxxl-none { display: none !important; }
    .al-d-xxxl-list-item { display: list-item !important; }
    .al-d-xxxl-table { display: table !important; }
    .al-d-xxxl-inherit { display: inherit !important; }
    .al-d-xxxl-initial { display: initial !important; }
    .al-d-xxxl-unset { display: unset !important; }
}